@font-face {
    font-family: 'BMJUA';
    src:url('../fonts/BMJUA_ttf.ttf');
    src:url('../fonts/BMJUA_otf.otf');
}

* {
    font-family: 'BMJUA';
}

html, body {
    margin: 0;
    width: 100%;
    background: #f8f8f8;
    box-sizing: border-box;
}

.header > #title {
    text-align: center;
    user-select: none;
}

.github-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.card-container {
    max-width: 700px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.card-container > .card {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 100%;
    margin: 0 10px 15px 0;
    background-color: #e4e4e4;
    cursor: pointer;
    border: 4px solid black;
}

.card-container > .fill {
    display: inline-block;
    width: 210px;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    margin: 0 10px 15px 0;
    border: 4px solid transparent;
}

.card > .card-text {
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 20px 0 20px 0;
    border-top: 4px solid black;
}

.card > img {
    width: 210px;
    min-height: 280px;
    vertical-align: middle;
}

.darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background:#4e4e4e;
    opacity:0;
    transition:all .3s linear;
}
  
.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    background: rgb(33, 45, 211);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: all .3s linear;
    transform: translate(-50%, -50%);
}

.card:hover .darkness{
    opacity: 0.4;
}

.card:hover .open-btn {
    opacity: 1;
}

@media (max-width: 470px) {
    .card-container > .card {
        width: 93%;
        margin: 0 0 15px 0;
    }

    .card-container > .fill {
        display: none;
    }

    .card > img {
        width: 100%;
    }
}