@font-face {
    font-family: 'BMJUA';
    src:url('fonts/BMJUA_ttf.ttf');
    src:url('fonts/BMJUA_otf.otf');
}

* {
    font-family: 'BMJUA';
}

html, body {
    margin: 0;
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.header > #title {
    text-align: center;
}

.card-container {
    max-width: 700px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.card-container > .card {
    display: inline-block;
    width: 210px;
    margin: 0 10px 15px 0;
    background-color: #e4e4e4;
    cursor: pointer;
}

.card-container > .fill {
    display: inline-block;
    width: 210px;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    margin: 0 10px 15px 0;
}

.card > .card-text {
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.card > img {
    width: 210px;
    min-height: 280px;
    vertical-align: middle;
}

@media (max-width: 470px) {
    .header > #title {
        font-size: 30px;
    }

    .card-container {
        padding: 10px;
    }

    .card-container > .card {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .card-container > .fill {
        display: none;
    }

    .card > img {
        width: 100%;
    }
}

