@font-face {
    font-family: 'BMJUA';
    src:url('../fonts/BMJUA_ttf.ttf');
    src:url('../fonts/BMJUA_otf.otf');
}

body {
    font-family: 'BMJUA';
    background-color: #fcfcfc;
}

.container {
    width: 640px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#my-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

#my-table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#my-table th, #my-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

#my-table th {
    background-color: #86a1fc;
    color: white;
}

#my-table td a {
    text-decoration: none;
    color: black;
}

#my-table tr {
    background-color: white;
}

#my-table tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
}