body {
    background-color: #c2c2c2;
}

#win {
    position: absolute;
    top: 0;
    width: 480px;
    z-index: 99;
}

#win #win-handle {
    height: 50px;
    background-color: #f2f4f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    cursor: crosshair;
    z-index: 10;
}

#win-handle #win-controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 11;
}

#win-handle #win-title {
    width: 100%;
    text-align: center;
    font-family: 'Arial';
    font-size: 14px;
    user-select: none;
}

#win-controls .win-control-btn {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#win-controls .win-control-btn:hover {
    opacity: 0.7;
}

#win-controls #win-close {
    background-color: #ff3d3d;
}

#win-controls #win-minimize {
    background-color: rgb(255, 191, 47);
}

#win-controls #win-maximize {
    background-color: rgb(37, 204, 62);
}

#win .win-main {
    padding: 10px;
    height: 300px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto;
}

#win #win-terminal {
    white-space: pre-wrap;
    background-color: black;
    color: white;
    font-family: "Monaco";
    font-size: 18px;
}

#win #win-terminal::after {
    content: "_";
    animation: blink 1.5s steps(1) infinite;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@media screen and (max-width: 640px) {
    #win {
        top: 0;
        left: 0;
        width: 100%;
    }
}
