* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    margin-bottom: 50px;
    font-size: 40px;
}

#summury {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
    height: 50px;
}

.btn-area {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 12px;
    justify-items: center;
    justify-content: center;
}

.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(6, 177, 21);
    box-shadow: 0px 8px 0px  rgb(5, 143, 16);
    user-select: none;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.custom-btn:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 0px rgb(5, 143, 16);
}

#btn-red {
    background-color: red;
    box-shadow: 0px 8px 0px rgb(139, 0, 0);
}

#btn-red:active {
    box-shadow: 0px 4px 0px rgb(139, 0, 0);
}

#btn-blue {
    background-color: blue;
    box-shadow: 0px 8px 0px rgb(0, 0, 146);
}

#btn-blue:active {
    box-shadow: 0px 4px 0px rgb(0, 0, 146);
}

#btn-green {
    background-color: green;
    box-shadow: 0px 8px 0px  rgb(0, 73, 0);
}

#btn-green:active {
    box-shadow: 0px 4px 0px  rgb(0, 73, 0);
}
