* {
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
}

.control {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    right: 15px;
    bottom: 15px;
    width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 15px;
}

.control > .sliderBox {
    margin-top: 5px;
}

.sliderBox h4 {
    margin-bottom: 2px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    transition: .2s;
    transition: opacity .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#red {
    background: linear-gradient(45deg, white, red);
}

#green {
    background: linear-gradient(45deg, white, green);
}

#blue {
    background: linear-gradient(45deg, white, blue);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: black;
    cursor: pointer;
}